<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardtest.user.UserMapper">
    <insert id="insUser">
        insert into t_user
        set uid = #{uid},
        upw = #{upw},
        nm = #{nm},
        gender = #{gender},
        addr = #{addr}
    </insert>
    <select id="selUserByUid" resultType="UserLoginVo">
        select iuser, uid, upw, nm, gender,addr, main_pic mainPic
        from t_user
        where uid = #{uid}
    </select>

    <update id="updUserPw">
        update t_user
        set upw = #{upw}
        where iuser = #{iuser}
    </update>
    <update id="updUserPic">
        update t_user
        set main_pic = #{mainPic}
        where iuser = #{iuser}

    </update>




</mapper>
