<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.todoapp.TodoMapper">
<insert id="instodo" useGeneratedKeys="true" keyProperty="itodo">
    insert into t_todo
    (ctnt)
    values
    (#{ctnt})
</insert>

    <select id="seltodo">
        select itodo,ctnt,created_at createdAt,pic,finish_yn finishYn ,finished_at finishedAt
        from t_todo
        where del_yn = 0
    </select>

    <update id="upTodo">
        <selectKey keyProperty="finishYn" resultType="TodoEntity" order="AFTER">
            SELECT finish_yn finishYn FROM t_todo WHERE itodo = #{itodo}
        </selectKey>

        UPDATE t_todo
        SET finish_yn = 1 - finish_yn
        , finished_at = if(finished_at is NULL, CURRENT_TIMESTAMP(), NULL)
        WHERE itodo = #{itodo}
    </update>

    <update id="delTodo">
        update t_todo
        set del_yn = 1
        ,finished_at = CURRENT_TIMESTAMP()
        where itodo = #{itodo}

    </update>




</mapper>
