<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.todoapp.TodoMapper">
<insert id="instodo" useGeneratedKeys="true" keyProperty="itodo">
    insert into t_todo
    (ctnt)
    values
    (#{ctnt})
</insert>

    <select id="seltodo">
        select itodo,ctnt,created_at createdAt,pic,finish_yn finishYn ,finished_at finishedAt
        from t_todo
        where del_yn = 0
    </select>

    <update id="upTodo">
        update t_todo
        set  finish_yn = #{finishYn}
        where itodo = #{itodo}

    </update>




</mapper>
